@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --default-color: #03738C;
    --default-hover: #034553;
    --default-text-color: #D92938;

    --text-color: #EA1F33;
    --text-color2: #CC1A2C;
    --text-color4: #42475E;
    --text-color5: #646981;
    --text-color6: #bfc0c9;

    --bg: #F4F4F7;
    --bg1: #EEEE;
    --hover-red: #9e0211;
    --ff-primary: 'Inter', sans-serif;
}


/* Estilos padrão */

.container {
    width: 1250px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'inter', cursive;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

body {
    background-color: white;
}

/* Cabeçalho */

header {
    width: 100%;
    background-color: var(--bg1);
    display: flex;
    align-items: center;
    height: 120px;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
    
}

.header-logo img {
    width: 40%;
    border-radius: 8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-menu .header-link {
    text-decoration: none;
    color: var(--text-color4);
    font-size: 18px;
    font-weight: 600;
}

.header-menu .header-link:hover {
    color: var(--default-color);
    transition: 0.5s ease;
}

.fale-conosco-btn {
    background-color: var(--default-color);
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 20px;
    border-radius: 5px;
    transition: 0.5s ease;
}

.fale-conosco-btn:hover {
    background-color: var(--default-hover);
    color: white;
    transition: 0.5s ease;
}

.fale-conosco-btn i {
    margin-right: 10px;
    color: white;
}

/* Sobre nós */

.nossa-historia {
    width: 100%;
    display: flex;
    padding: 150px 0;
    justify-content: space-between;
    background-color: var(--bg);
}

.container-historia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hist-img {
    display: flex;
    width: 486px;
}

.hist-img img {
    width: 100%;
}

.hist-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 100px;
    gap: 25px; 
}

.hist-text h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--default-color);
}

.hist-text p {
    line-height: 1.5;
}

/* SEO */

.nossa-historia1 {
    width: 100%;
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    background-color: var(--bg);
}

.container-historia1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hist-img1 {
    display: flex;
    width: 486px;
}

.hist-img1 img {
    width: 100%;
}

.hist-text1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 100px;
    gap: 25px; 
}

.hist-text1 h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--default-color);
}

.hist-text1 p {
    line-height: 1.5;
}

