main{
	width: 600px;
	height: 500px;
	padding: 200px 0;
	margin: 0 auto;
}
.scroll-container {
	width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.scroll-container a {
	width: 100px;
    display: inline-block;
    padding: 10px;
    scroll-snap-align: center;
    text-decoration: none;
    color: black;
}

.scroll-arrows {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.scroll-arrows div {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.scroll-arrows div:hover {
    background-color: darkgray;
}

.opacity-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


	

/* MEDIA DESKTOP */
@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1366px){

}

@media screen and (max-width: 1280px){

}

@media screen and (max-width: 1100px){

}

/* MOBILE */
@media screen and (max-width: 1000px){
    
}

@media screen and (max-width: 800px){
    
}

@media screen and (max-width: 600px){
    
}

@media screen and (max-width: 400px){

}

@media screen and (max-width: 375px){

}