.banner{
	width: 100%;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
}	
.banner img{
	width: 100%;
}

.blog-destaque{
	width: 100%;
	background-color: var(--bg);
	padding: 50px 0;
}
.blog-destaque .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 35px;
}
.blog-titulo{
	width: 100%;
}
.blog-titulo h3{
	color: #42475E;
	font-weight: 600;
}
.destaque1{
	width: 600px;
	display: flex;
	flex-wrap: wrap;
}
.destaque1 .blog-box{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
}


.destaque2{
	width: 600px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.destaque2 .blog-box{
	width: 100%;
	display: flex;
}
.destaque2 .blog-box .blog-img{
	width: 53%;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.destaque2 .blog-box .blog-img img{
	width: 100%;
}
.destaque2 .blog-box .blog-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 47%;
	height: auto;
	padding: 30px;
	gap: 15px;
	background-color: #fff;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

.blog-conteudo{
	padding: 100px 0;
	background-color: var(--bg);
}
.blog-filtro{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.blog-slider{
	width: 100%;
}
.blog-slide{
	width: 100%;
	padding: 0 10px;
	border-bottom: 1px solid var(--text-color6);
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: ease .3s;
}
.blog-slide a{
	color: var(--text-color5);
	transition: ease .3s;
}
.ativo,
.blog-slide:hover{
	font-weight: 600;
	border-bottom: 1px solid var(--text-color);
	transition: ease .3s;
}
.blog-slide:hover a{
	font-weight: 600;
	transition: ease .3s;
}
.prev-blog{
    position: absolute;
    left: -50px;
    z-index: 10;
    color: var(--text-color5);
    font-size: 16px;
    cursor: pointer;
    width: 26px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next-blog{
    position: absolute;
    right: -50px;
    z-index: 10;
    color: var(--text-color5);
    font-size: 16px;
    cursor: pointer;
    width: 26px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts{
	width: 100%;
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 49px;
}
.posts .blog-box{
	width: 384px;
	height: fit-content;
    display: flex;
    flex-direction: column;
}
.posts .blog-box .blog-img{
	width: 100%;
}
.posts .blog-box .blog-img img{
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.posts .blog-box .blog-text{
	width: 100%;
    padding: 30px;
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.blog-box .blog-img{
	width: 100%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.blog-box .blog-img img{
	width: 100%;
}
.blog-box .blog-text{
	width: 100%;
	padding: 30px;
	background-color: #fff;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	gap: 15px;
	display: flex;
	flex-direction: column;
}
.blog-box .blog-text span{
	font-size: 14px;
	font-weight: 600;
	color: var(--text-color);
}
.blog-box .blog-text a{
	font-weight: 600;
	color: var(--text-color4);
	font-size: 20px;
}
.blog-box .blog-text p{
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   color: var(--text-color5);
}

.blog-box{
	transition: ease .3s;
}
.blog-box:hover{
	scale: 1.05;
	transition: ease .3s;
}

/* MEDIA DESKTOP */
@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1366px){
	.blog-filtro{
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1280px){
	.destaque1{
		width: 100%;
	}
	.destaque2{
		width: 100%;
		flex-direction: row;
	}
	.destaque2 .blog-box{
		width: 100%;
	    height: fit-content;
	    display: flex;
	    flex-direction: column;
	    border-radius: 20px;
	}
	.destaque2 .blog-box {
	    width: 48%;
	    height: fit-content;
	    display: flex;
	    flex-direction: column;
	    border-radius: 20px;
	}
	.destaque2 .blog-box .blog-img{
		width: 100%;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
	}
	.destaque2 .blog-box .blog-img img{
		width: 100%;
		border-top-right-radius: 20px;
    	border-top-left-radius: 20px;
	}
	.destaque2 .blog-box .blog-text{
		width: 100%;
		padding: 30px;
		background-color: #fff;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-top-right-radius: 0px;
		gap: 15px;
		display: flex;
		flex-direction: column;
	}

	.posts{
		gap: 30px;
	}
	.posts .blog-box{
		width: 31%;
	}
}	

@media screen and (max-width: 1100px){
	
}

/* MOBILE */
@media screen and (max-width: 950px){
    .posts .blog-box{
    	width: 47%;
    }
}

@media screen and (max-width: 600px){
    .posts .blog-box{
    	width: 100%;
    }
}

@media screen and (max-width: 400px){

}

@media screen and (max-width: 375px){

}