.botoes{
	width: 100%;
	background-color: var(--bg);
	padding: 60px 0;
}
.botoes .container{
	display: flex;
	align-items: center;
}
.botoes img{
	margin-right: 30px;
}
.botoes .carrinho-btn.ativo{
	color: var(--text-color4);
}
.botoes .carrinho-btn{
	color: var(--text-color6);
	font-size: 34px;
	font-weight: 600;
	background-color: unset;
	border: none;
	display: flex;
	align-items: center;
	margin-right: 40px;
	cursor: text;
}	
.botoes .carrinho-btn i{
	margin-right: 40px;
}
.botoes .carrinho-btn:nth-child(4){
	margin-right: 0;
}
.botoes .carrinho-btn:disabled{
	cursor: text;
}


#cadastro{
	display: flex;
	background-color: var(--bg);
	padding-bottom: 500px;
}
#cadastro .container{
	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--text-color6);
	padding-top: 45px;
}
#cadastro .form-cadastro-orcamento{
	width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
#cadastro .form-topo{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
#cadastro .form-topo h3{
	color: var(--text-color4);
	font-weight: 600;
}
#cadastro .form-topo span{
	color: var(--text-color5);
	font-weight: 600;
	font-size: 18px;
}
#cadastro .form-inputs{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
#cadastro .form-inputs input{
	height: 65px;
	font-weight: 600;
	color: var(--text-color6);
	padding: 0 20px;
	border: 1px solid var(--text-color6);
	border-radius: 5px;
}
#cadastro .form-inputs input:placeholder{
	font-weight: 600;
	color: var(--text-color6);
}
#cadastro .form-botoes{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 10px;
}
#cadastro .form-botoes .pedidoBtn,
#cadastro .form-botoes .voltarBtn{
	height: 65px;
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
    transition: ease .3s;
    border-radius: 5px;
}
#cadastro .form-botoes .pedidoBtn{
	border: 1px solid #54b526;
	color: #fff;
	background-color: #54b526;
}
#cadastro .form-botoes .pedidoBtn:hover{
	background-color: #2f9300;
	border: 1px solid #2f9300;
	transition: ease .3s;
}
#cadastro .form-botoes .voltarBtn{
	border: 1px solid var(--text-color5);
	color: var(--text-color5);
}
#cadastro .form-botoes .voltarBtn:hover{
	color: #Fff;
	background-color: var(--text-color);
	border: 1px solid var(--text-color);
	transition: ease .3s;
}



/* MEDIA DESKTOP */
@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1366px){

}

@media screen and (max-width: 1280px){

}

@media screen and (max-width: 1100px){

}

/* MOBILE */
@media screen and (max-width: 1000px){
    
}

@media screen and (max-width: 800px){
    .main-footer{
      padding: 75px 0;
    }
    .botoes .container{
    	gap: 35px;
    	flex-direction: column;
    }
    .botoes .container i{
    	display: none;
    }
    .botoes .container img,
    .botoes .container a{
    	margin-right: 0;
    }
    #cadastro{
    	padding-bottom: 250px;
    }
}

@media screen and (max-width: 600px){
    
}

@media screen and (max-width: 400px){

}

@media screen and (max-width: 375px){

}