.sac{
	padding: 100px 0;
}	
.sac .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sac-titulo{
	padding-left: 40px;
	display: flex;
	align-items: center;
}
.sac-titulo .text{
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}
.sac-titulo .text h4{
	color: var(--text-color5);
	font-weight: 600;
}
.sac-titulo .text span{
	font-size: 64px;
	color: var(--text-color4);
	font-weight: 600;

}
.sac-div{
	width: 1px;
	height: auto;
	border: 1px solid var(--text-color6);
}
.sac-infos{
	width: 707px;
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 20px;
}
.sac-infos h3{
	color: var(--text-color4);
	font-weight: 600;
}
.sac-infos a{
	color: var(--text-color5);
	font-weight: 600;
	display: flex;
	align-items: center;
	transition: ease .3s;
}
.sac-infos a:hover{
	color: var(--text-color);
	transition: ease .3s;
}
.sac-infos a img{
	margin-right: 15px;
}


.trabalhe{
	background-color: var(--bg);
	padding: 100px 0;	
}
.trabalhe .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.trabalhe-img{
	width: 487px;
}
.trabalhe-img img{
	width: 100%;
}
.trabalhe-text{
	width: 600px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
    gap: 30px;
}
.trabalhe-text h2{
	color: var(--text-color4);
	font-weight: 600;
}
.trabalhe-text p{
	color: var(--text-color4);
}
.trabalhe-text a img,
.trabalhe-text button img{
	margin-left: 10px;
}
.trabalhe-text .curriculoBtn{
	width: 220px;
	height: 64px;
	color: #fff;
	background-color: var(--text-color);
	border: 1px solid var(--text-color);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: ease .3s;
}
.trabalhe-text .curriculoBtn:hover{
	background-color: var(--hover-red);
	border: 1px solid var(--hover-red);
	transition: ease .3s;
}
.trabalhe-text .vagasBtn{
	font-size: 19px;
	color: var(--text-color);
	font-weight: 600;
	height: 64px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: ease .3s;
}
.trabalhe-text .vagasBtn:hover{
	color: var(--hover-red);
	transition: ease .3s;
}

.endereco{
	background-color: var(--bg);
	padding: 100px 0;	
}
.endereco .container{
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.endereco-titulo{
    width: 100%;
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.endereco-titulo h2{
    color: var(--text-color4);
    display: flex;
    align-items: center;
}
.endereco-titulo h2 img{
    margin-right: 30px;
} 
.endereco-titulo a{
    color: var(--text-color5);
    font-weight: 500;
    font-size: 18px;
	transition: ease .3s;
}
.endereco-titulo a:hover{
	color: var(--text-color);
	transition: ease .3s;
}
.endereco-mapa{
	width: 100%;
}
.endereco-mapa iframe{
	width: 100%;
	height: 500px;
	border-radius: 10px;
}

.contato{
	background-color: var(--bg1);
	padding: 100px 0;	
}
.contato .container{
	display: flex;
	flex-wrap: wrap;
	padding: 0 100px;
	justify-content: space-between;
	align-items: center;
}
.contato-info{
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.contato-info h2{
	font-weight: 600;
	color: var(--text-color4);
	margin-bottom: 20px;
}
.contato-info a{
	display: flex;
	align-items: center;
	font-weight: 500;
	color: var(--text-color5);
	transition: ease .3s;
}
.contato-info a:hover{
	color: var(--text-color);
	transition: ease .3s;
}
.contato-info a img{
	margin-right: 15px;
}
.contato-form{
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.contato-opcoes{
	width: 100%;
	height: 40px;
	display: flex;
	background-color: #fff;
	justify-content: space-around;
	border-radius: 5px;
	align-items: center;
}
.ratio {
	width: 24%;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ratio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.ratio:hover input ~ .btnRatio {
  background-color: var(--text-color);
	color: #fff;
	border-radius: 5px;
	font-weight: 500;
}

.ratio input:checked ~ .btnRatio {
  background-color: var(--text-color);
	color: #fff;
	border-radius: 5px;
	font-weight: 500;
}


/* Style the indicator (dot/circle) */
.ratio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.contato-opcoes a{
	width: 100%;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color6);
	font-weight: 600;
	transition: ease .3s;
}
.contato-opcoes a:hover{
	background-color: var(--text-color);
	color: #fff;
	border-radius: 5px;
	font-weight: 500;
	transition: ease .3s;
}
.contato-opcoes a.ativo{
	background-color: var(--text-color);
	color: #fff;
	border-radius: 5px;
	font-weight: 500;
}
.contato-form .form{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.contato-form .form input{
	color: var(--text-color5);
	height: 50px;
	border: none;
	padding: 0 20px;
	border-radius: 5px;
}
.contato-form .form input::placeholder{
	font-size: 14px;
	font-weight: 600;
	color: var(--text-color5);
}
.contato-form .form textarea{
	color: var(--text-color5);
	border: none;
	padding: 20px;
	border-radius: 5px;
}
.contato-form .form textarea::placeholder{
	font-size: 14px;
	font-weight: 600;
	color: var(--text-color6);
}
.contato-form .form button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 65px;
	color: #fff;
	font-size: 18px;
	background-color: var(--text-color);
	border: 1px solid var(--text-color);
	border-radius: 5px;
	transition: ease .3s;
}
.contato-form .form button:hover{
	background-color: var(--hover-red);
	border: 1px solid var(--hover-red);
	transition: ease .3s;
}


.modal-trabalhe{
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 30;
	top: -1300px;
	transition: ease .3s;
}
.modal-trabalhe .modal-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: var(--text-color4);
	opacity: 0.4;
	top: 0;
}
.modal-trabalhe .form{
	width: 550px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
	z-index: 2;
	background-color: #fff;
	border-radius: 10px;
	padding: 50px;
	position: relative;
}
.modal-trabalhe .form .fechar-trabalhe{
	color: var(--text-color);
	font-size: 30px;
	font-weight: 700;
	position: absolute;
	top: 5px;
	right: 15px;
	cursor: pointer;
}
.modal-trabalhe .form input{
	color: var(--text-color5);
	height: 50px;
	border: none;
	padding: 0 20px;
	border-radius: 5px;
	border: 1px solid var(--text-color6);
}
.modal-trabalhe .form input::placeholder{
	font-size: 14px;
	font-weight: 600;
	color: var(--text-color5);
}
.modal-trabalhe .form div{
	width: 200px;
	height: 50px;
	border-radius: 5px;
}
.modal-trabalhe .form div label{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	width: 100%;
	height: 100%;
	background-color: var(--text-color6);
	cursor: pointer;
	border-radius: 5px;
}
.modal-trabalhe .form div label img{
	margin-left: 10px;
}
.modal-trabalhe .form input[type="file"]{
	display: none;
}
.modal-trabalhe .form button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 65px;
	color: #fff;
	font-size: 18px;
	background-color: var(--text-color);
	border: 1px solid var(--text-color);
	border-radius: 5px;
	transition: ease .3s;
}
.modal-trabalhe .form button:hover{
	background-color: var(--hover-red);
	border: 1px solid var(--hover-red);
	transition: ease .3s;
}

.modal-trabalhe.opened{
	top: 0;
	transition: ease .3s;
}

/* MEDIA DESKTOP */
@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1366px){

}

@media screen and (max-width: 1280px){
	.sac-infos{
		width: 60%;
	}
	.trabalhe-img,
	.trabalhe-text{
		width: 45%;
	}
	.contato .container{
		padding: 0;
	}
	.contato-info{
		width: 45%;
	}
	.contato-form{
		width: 45%;
	}
}

@media screen and (max-width: 1100px){

}

/* MOBILE */
@media screen and (max-width: 1000px){
	.sac .container{
		justify-content: center;
		gap: 50px;
	}
    .sac-div{
    	display: none;
    }
    .sac-infos{
    	width: 100%;
    }
}

@media screen and (max-width: 800px){
    .trabalhe-img img{
    	display: none;
    }
    .trabalhe-text{
    	width: 100%;
    }
    .contato .container{
    	flex-direction: column;
    	gap: 40px;
    }
    .contato-info,
    .contato-form{
    	width: 580px;
    }
}

@media screen and (max-width: 600px){
    .contato-info,
    .contato-form{
    	width: 100%;
    }
    .modal-trabalhe .form{
    	width: 90%;
    	padding: 50px 20px;
    }
}

@media screen and (max-width: 400px){

}

@media screen and (max-width: 375px){

}