.menu-paginas{
    display: none;
}

.banner{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.banner-slider{
    width: 100%;
}

.slick-dotted.slick-slider{
    margin-bottom: 0px !important;
}
  
.banner-slider .slick-dots {
    top: unset !important;
    bottom: 10% !important;
    left: 50px !important;
    width: fit-content !important;
    display: flex !important;
    flex-direction: column !important;
}
.banner-slider .slick-dots li {
    width: 30px !important;
    height: 40px !important;
}
.banner-slider .slick-dots li button:before {
    font-size: 18px !important;
    width: 18px !important;
    height: 18px !important;
    opacity: 0.8 !important;
    color: white !important;
    line-height: 16px !important;
}


.banner-slider .slick-dots li.slick-active button:before{
    color: #fff !important;
    opacity: 1 !important;
    border-radius: 50% !important;
}
  
.banner-slider .banner-slide{
    width: 100%;
    position: relative;
}
.banner-slider .banner-slide img{
    width: 100%;
}
.banner-slider .banner-slide .absolute-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.banner-slider .banner-slide .absolute-container .container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.banner-slider .banner-slide .absolute-container .container h1{
    font-size: clamp(1.6rem, 5vw - 1rem, 3.5rem);
    font-weight: 700;
}

.banner-slider .banner-slide .absolute-container .container h1,
.banner-slider .banner-slide .absolute-container .container span{
    max-inline-size: 490px;
    color: #fff;
    margin-left: auto;
}
.banner-slider .banner-slide .absolute-container .container span{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}	
.prev-banner{
    position: absolute;
    left: 50px;
    z-index: 10;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.next-banner{
    position: absolute;
    right: 50px;
    z-index: 10;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}


.linhas{
    width: 100%;
    background-color: var(--bg1);
    padding: 100px 0;
}
.linhas-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linhas-titulo h2{
    color: var(--text-color4);
    display: flex;
    align-items: center;
}
.linhas-titulo h2 img{
    margin-right: 30px;
} 
.linhas-titulo span{
    max-width: 40%;
    color: var(--text-color5);
    font-weight: 500;
    font-size: 18px;
}
.linhas-content{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.linhas-slider{
    width: 100%;
}
.linhas-slider .linha-slide{
    display: flex;
    margin: 0 auto;
    width: 92%;
    max-width: 386px;
    position: relative;
    transition: ease .3s;
    scale: 0.9;
}
.linhas-slider .linha-slide:hover{
    scale: 1;
    transition: ease .3s;
}
.linhas-slider .linha-slide img{
    width: 100%;
}
.linha-text{
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 9%;
    gap: 44px;
    text-align: center;
}
.linha-text h2{
    color: #fff;
}
.linha-text a{
    color: #fff;
    font-family: var(--ff-primary);
    border:1px solid #fff;
    border-radius: 5px;
    padding: 11px 30px;
}
.linha-text a:hover{
    color: var(--hover-red);
    border: 1px solid var(--hover-red);
    font-weight: 600;
}
.prev-linhas{
    position: absolute;
    left: -50px;
    z-index: 10;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--text-color);
    width: 26px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next-linhas{
    position: absolute;
    right: -50px;
    z-index: 10;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--text-color);
    width: 26px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.clientes{
    width: 100%;
    background-color: var(--text-color);
    padding: 100px 0;
}
.clientes-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clientes-titulo h2{
    color: #fff;
    display: flex;
    align-items: center;
}
.clientes-titulo h2 img{
    margin-right: 30px;
} 
.clientes-titulo span{
    max-width: 40%;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
.clientes-content{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 70px;
}
.clientes-slider{
    width: 100%;
}
.clientes-slider .cliente-slide{
    display: flex;
    margin: 0 auto;
    position: relative;
    width: 196px;
    height: 127px;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: ease .3s;
    scale: 0.9;
}
.clientes-slider .cliente-slide:hover{
    transition: ease .3s;
    scale: 1;
}
.clientes-slider .cliente-slide img{
    max-width: 150px;
    object-fit: contain;
}
.prev-clientes{
    position: absolute;
    left: -50px;
    z-index: 10;
    color: var(--text-color);
    font-size: 12px;
    cursor: pointer;
    background-color: #fff;
    width: 26px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next-clientes{
    position: absolute;
    right: -50px;
    z-index: 10;
    color: var(--text-color);
    font-size: 12px;
    cursor: pointer;
    background-color: #fff;
    width: 26px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.segmentos{
    width: 100%;
    background-color: var(--bg1);
    padding: 100px 0;
}
.segmentos-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.segmentos-titulo h2{
    color: var(--text-color4);
    display: flex;
    align-items: center;
}
.segmentos-titulo h2 img{
    margin-right: 30px;
} 
.segmentos-titulo span{
    max-width: 40%;
    color: var(--text-color5);
    font-weight: 500;
    font-size: 18px;
}
.segmentos-content{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.segmentos-slider{
    width: 100%;
}
.segmentos-slider .segmento-slide{
    display: flex;
    margin: 0 auto;
    width: 196px;
    position: relative;
    flex-direction: column;
    transition: ease .3s;
    scale: 0.9;
}
.segmentos-slider .segmento-slide:hover{
    transition: ease .3s;
    scale: 1;
}
.segmentos-slider .segmento-slide h4{
    color: var(--text-color4);
    text-align: center;
    margin-top: 20px;
    width: 150px;
    font-weight: 600;
}
.segmentos-slider .segmento-slide img{
    max-width: 196px;
}
.segmento-text{
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 9%;
    gap: 44px;
}
.segmento-text h2{
    color: #fff;
}
.segmento-text a{
    color: #fff;
    font-family: var(--ff-primary);
    border:1px solid #fff;
    border-radius: 5px;
    padding: 11px 30px;
}
.prev-segmentos{
    position: absolute;
    left: -50px;
    z-index: 10;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--text-color);
    width: 26px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next-segmentos{
    position: absolute;
    right: -50px;
    z-index: 10;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--text-color);
    width: 26px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.lancamentos{
    width: 100%;
    background-color: var(--bg);
    padding: 100px 0;
}
.lancamentos-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lancamentos-titulo h2{
    color: var(--text-color4);
    display: flex;
    align-items: center;
}
.lancamentos-titulo h2 img{
    margin-right: 30px;
} 
.lancamentos-titulo span{
    max-width: 40%;
    color: var(--text-color5);
    font-weight: 500;
    font-size: 18px;
}
.lancamentos-content{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.lancamentos-slider{
    width: 100%;
}
.lancamentos-slider .lancamento-slide{
    display: flex;
    margin: 0 auto;
    width: 95%;
    position: relative;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    transition: ease .3s;
    scale: 0.9;
}
.lancamentos-slider .lancamento-slide:hover{
    transition: ease .3s;
    scale: 1;
}
.lancamentos-slider .lancamento-slide img{
    max-width: 198px;
    max-height: 198px;
    margin: auto;
    padding: 20px;
}
.lancamento-text{
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
    padding: 10px 20px 20px 20px;
}
.lancamento-text h6{
    color: var(--text-color4);
    margin-top: 20px;
    font-weight: 600;
    font-family: var(--ff-primary);
}
.lancamento-text p{
    color: var(--text-color4);
    font-family: var(--ff-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
.lancamento-text a{
    color: var(--text-color);
    font-family: var(--ff-primary);
    border:1px solid var(--text-color);
    border-radius: 5px;
    width: 100%;
    padding: 11px 0px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    transition: ease .3s;
}
.lancamento-text a:hover{
    color: #fff;
    background-color: var(--hover-red);
    border: 1px solid var(--hover-red);
    transition: ease .3s;
}
.prev-lancamentos{
    position: absolute;
    left: -50px;
    z-index: 10;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--text-color);
    width: 26px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next-lancamentos{
    position: absolute;
    right: -50px;
    z-index: 10;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--text-color);
    width: 26px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.noticias{
    width: 100%;
    background-color: var(--bg1);
    padding: 100px 0 0;
    position: relative;
    z-index: 11;
}
.noticias-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.noticias-titulo h2{
    color: var(--text-color4);
    display: flex;
    align-items: center;
}
.noticias-titulo h2 img{
    margin-right: 30px;
} 
.noticias-titulo span{
    max-width: 40%;
    color: var(--text-color5);
    font-weight: 500;
    font-size: 18px;
}
.noticias-content{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    justify-content: space-between;
    gap: 30px;
}
.noticia-box{
    width: 348px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    transition: ease .3s;
    scale: 1;
}
.noticia-box:hover{
    transition: ease .3s;
    scale: 1.1;
}
.noticia-box a img{
    width: 100%;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.noticia-text{
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.noticia-text h6{
    font-size: 14px;
    color: var(--text-color);
    font-weight: 600;
}
.noticia-text div{
    position: relative;
    width: 100%;
}
.noticia-text div a{
    color: var(--text-color4);
    font-weight: 600;
    font-family: var(--ff-primary);
    font-size: 20px;
    width: 90%;
    display: flex;
}
.noticia-text div img{
    width: fit-content;
    position: absolute;
    top: -5px;
    right: 0;
    display: flex;
}
.noticia-text p{
    color: #646981;
    font-family: var(--ff-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}


/* MEDIA DESKTOP */
@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1366px){
    .prev-linhas,
    .prev-clientes,
    .prev-segmentos,
    .prev-lancamentos{
        left: 0;
        z-index: 20;
    }
    .next-linhas,
    .next-clientes,
    .next-segmentos,
    .next-lancamentos{
        right: 0;
        z-index: 20;
    }
}

@media screen and (max-width: 1280px){
    .prev-linhas,
    .prev-clientes,
    .prev-segmentos,
    .prev-lancamentos{
        left: -3%;
        z-index: 20;
    }
    .next-linhas,
    .next-clientes,
    .next-segmentos,
    .next-lancamentos{
        right: -3%;
        z-index: 20;
    }
}

@media screen and (max-width: 1270px){
    
}

/* MOBILE */
@media screen and (max-width: 1100px){
    .noticias-content{
        justify-content: space-evenly;
    }
    .segmentos-slider .segmento-slide{
        width: 90%;
    }
    .clientes-slider .cliente-slide{
        width: 90%;
    }
}

@media screen and (max-width: 800px){
    .linhas-titulo,
    .clientes-titulo,
    .segmentos-titulo,
    .lancamentos-titulo,
    .noticias-titulo{
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
    .linhas-titulo span,
    .clientes-titulo span,
    .segmentos-titulo span,
    .lancamentos-titulo span,
    .noticias-titulo span{
        max-width: 100%;
    }
}

@media screen and (max-width: 600px){
   
}

@media screen and (max-width: 400px){

}

@media screen and (max-width: 375px){

}