@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: visible;
    opacity: 1;
}

.loader.active .loader__content {
    display: block;
}

.loader__content {
    border: 7px solid #ffffff; /* Light grey */
    border-top: 7px solid #d35151; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.3s ease-in-out infinite;
    display: none;
}

/*------------------------
LGPD
------------------------*/
/* Deixa desabilitado por padrão */
.js_enabled .lgpd-cookies {
    display: none;
  }
  
  .lgpd-cookies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 85vw;
    border: none;
    border-radius: 0;
    padding: 15px;
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 2px 1px 20px #00000029;
    border-radius: 10px;
  }
  
  .lgpd-texto {
    width: 72%;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    color: #fff;
  }
  
  .lgpd-link {
    color: var(--clr-primary);
  }
  
  .lgpd-link:hover {
    color: var(--clr-primary);
  }
  
  .lgpd-botao {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #ffffff;
  }
  
  .lgpd-botao.continuar {
    border: 1px solid var(--clr-primary);
    border-radius: 8px;
    padding: 10px 15px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .lgpd-botao.continuar:hover {
    color: #ffffff;
    background: var(--clr-primary);
  }
  
  .lgpd-botao.sair:hover {
    text-decoration: underline;
  }

  /* FORM FEEDBACK */
.border-complete {
  /*border: 1px solid var(--new-green);*/
}

.border-error {
  border: 1px solid red !important;
}

#jError{
    font-family: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
}
body{
  
}
html{
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--ff-primary);
}
h2{
    font-size: 32px;
    font-weight: 600;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 16px;
}
p{
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;
}
ul{
    list-style: none;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
input, select, button, textarea{
    outline-style: none;
}
textarea{
    resize: none;
}
strong{
    font-weight: 700;
}

.banner .banner-text{
    width: 1250px;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    gap: 10px;
}
.banner-text span{
  max-width: 40%;
}
.banner-text .pagina,
.banner-text .titulo{
    font-family: var(--ff-secondary);
    font-weight: 500;
}
.banner-text .pagina{
    font-size: 1.1vw;
    color: #fff;
}
.banner-text .titulo{
    font-size: 3vw;
    color: #fff;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.menu-hamburguer{
    display: none;
}
.close-mobile{
    display: none;
}
.container{
    width: 1250px;
    margin: 0 auto;
}

.red-btn{
    width: 213px;
    height: 43px;
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    transition: ease .3s;
}
.red-btn:hover{
    background-color: var(--hover-red);
    border: 1px solid var(--hover-red);
    transition: ease .3s;
}

/* BOX CLICAVEL */
.box-link{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 10;
}
:root{
    --text-color: #EA1F33;
    --text-color2: #CC1A2C;
    --text-color3: #A10010;
    --text-color4: #42475E;
    --text-color5: #646981;
    --text-color6: #bfc0c9;

    --bg: #F4F4F7;
    --bg1: #EEEEEE;
    --hover-red: #9e0211;

    --ff-primary: 'Inter', sans-serif;
    --ff-secondary: 'Ubuntu', sans-serif;
}


/* SCROLLBAR STYLE */
/*width 
::-webkit-scrollbar {
  width: 4px;
}
Track 
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
Handle 
::-webkit-scrollbar-thumb {
  background: #888;
}
 Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}*/

/* ----- MENU ----- */
.header{
    width: 100%;
    height: 120px;
    background-color: var(--bg);
    display: flex;
    align-items: center;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
  max-width: var(--header-logo-size);
  height: 100%;
}

.input-pesq{
  width: 384px;
  height: 54px;
  display: flex;
  border-radius: 5px;
  position: relative;
  align-items: center;
}
.input-pesq input{
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border-radius: 4px;
  color: var(--text-color4);
  border: none;
}
.input-pesq input::placeholder{
  color: var(--text-color4);
  font-weight: 500;
}
.input-pesq button{
  position: absolute;
  right: 5px;
  background-color: unset;
  border: none;
}
.input-pesq button i{
  color: var(--text-color);
  font-size: 20px;
}
.header-mobile,
.mobile-menu{
    display: none;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header-menu .header-link {
  text-decoration: none;
  color: var(--text-color4);
  font-weight: 600;
  font-size: clamp(14px, 2vw, 18px);
  font-family: var(--ff-primary);
  /* padding: 0.5rem 1rem; */
  /* border-radius: 0.25rem; */
  background-color: transparent;
  transition: background-color 0.2s ease;
}
.header-menu .header-link:hover,
.header-menu .header-link.active {
  color: var(--text-color);
}
.orcamento-btn{
  color: #fff;
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 15px 22px;
  border-radius: 5px;
  font-weight: 600;
  font-family: var(--ff-primary);
  font-size: clamp(14px, 2vw, 18px);
  transition: ease .3s;
}
.orcamento-btn i{
  margin-right: 10px;
  transition: ease .3s;
}
.orcamento-btn:hover{
    background-color: var(--hover-red);
    border: 1px solid var(--hover-red);
    transition: ease .3s;
}
.header-mobile .menu-dropdown1 ul{
	display: none
}

.menu{
    width: 100%;
    height: 48px;
    background-color: var(--text-color);
    align-items: center;
    display: flex;
}
.menu nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100%;
}
.menu-link{
    color: #fff;
    font-family: var(--ff-secondary);
}
.menu .menu-dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    background-color: var(--text-color2);
}
.cat-dekstop{
    display: flex;
}
.cat-mobile{
    display: none;
}
.menu .menu-dropdown .menu-link{
    width: 100%;
    display: flex;
    padding: 0 10px;
}
.menu .menu-dropdown .menu-link .fa-bars{
    margin-right: 15px;
}
.menu .menu-dropdown .menu-link .fa-angle-down{
    margin-left: auto;
}
.drop-menu{
    width: 1250px;
    max-height: 600px;
    overflow: auto;
    background-color: #fff;
    position: absolute;
    top: 168px;
    display: none;
    z-index: 40;
    animation-name: opacity;
    animation-duration: .8s;
    margin-top: 0;
    padding: 30px;
    justify-content: space-between;
    transition: ease .3s;
}
.drop-menu .menu-div{
  width: 48%;
  height: fit-content;
  display: flex;
  gap: 20px 0;
  flex-direction: column;
}
.drop-menu ul{
  width: 100%;
  height: fit-content;
}
.drop-menu span{
  width: 100%;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.drop-menu ul li{
  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.drop-menu ul li{
  padding: 10px 0;
}
.drop-menu ul li a{
  color: #000;
  width: 100%;
  display: flex;
  font-weight: 500;
  padding-right: 50px;
  display: flex;
  align-items: center;
}
.drop-menu ul li a:hover{
  font-weight: 600;
}
.drop-menu ul li a i{
  margin-left: auto;
}
.menu-paginas{
    width: 100%;
    height: 50px;
    background-color: var(--bg);
}
.menu-paginas .container{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-paginas a .fa-home{
    color: var(--text-color);
}
.menu-paginas .fa-chevron-right{
    margin: 0 20px;
    color: var(--text-color6);
}
.menu-paginas a{
    color: var(--text-color6);
    font-weight: 600;
}
.menu-hover{
    position: relative;
    z-index: 10;
    height: 100%;
    align-items: center;
    display: flex;
}
.menu-hover:hover .hover-div{
    display: flex;
    transition: ease .3s;
}
.menu-hover:last-child:hover .hover-div{
    left: unset;
    right: 0;
}
.menu-hover .hover-div{
    max-width: 300px;
    width: max-content;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 47px;
    left: 0px;
    background-color: #fff;
    padding: 20px;
    gap: 10px;
    transition: ease .3s;
}
.menu-hover .hover-div a{
    color: black;
    font-weight: 600;
    transition: ease .2s;
}
.menu-hover .hover-div a:hover{
    color: var(--text-color);
    transition: ease .2s;
}

/* PAGINAÇÃO */

.paginacao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 0;
    margin-top: 40px;
    border-top: 1px solid #e3e3e3;
}
.paginacao .lista-paginacao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.paginacao .lista-paginacao span, 
.paginacao .lista-paginacao li a{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color5);
    transition: all .3s ease-in-out;
}

.paginacao .lista-paginacao span:hover, 
.paginacao .lista-paginacao li a:hover,
.paginacao .lista-paginacao li a.ativo{
    color: var(--text-color);
}


.footer-banner{
    height: 500px;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 9;
}
.banner-absolute{
    position: absolute;
    width: 100%;
    bottom: -100px;
    display: flex;
}
.banner-absolute img{
    border-radius: 10px;
    width: 100%;
}
.footer-text{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
    gap: 20px;
}
.footer-text h2{
    color: #fff;
    width: 400px;
    font-family: var(--ff-primary);
}
.footer-text p{
    color: #fff;
    width: 400px;
    font-family: var(--ff-primary);
}
.footer-text a{
    margin: 0;
    width: 130px;
}


.main-footer{
    width: 100%;
    background-color: var(--text-color);
    padding: 200px 0 70px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 10;
}
.main-footer a{
    font-family: var(--ff-primary);
}
.main-footer a:hover{
    font-weight: 600;
}
.main-footer span{
    font-family: 'Inter', sans-serif;
}
.main-footer .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer-logo{
    gap: 20px;
    color: #fff;
}
.footer-acess{
    display: flex;
    width: 650px;
    justify-content: space-between;
}
.footer-column, .footer-logo{
    display: flex;
    flex-direction: column;
}
.footer-column{
    width: 205px;
    color: #fff;
    gap: 20px;
}
.footer-column span{
    font-weight: 600;
}

.copyright{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #d9d9d92e;
    padding-top: 50px;
}
.copyright span{
    color: #fff;
    font-family: var(--ff-primary);
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}
.copyright img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(314deg) brightness(102%) contrast(102%);
}

.flutuante{
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 50;
    transition: ease .3s;
}
.flutuante a:hover{
    scale: 1.1;
    transition: ease .3s;
}

/* MEDIA DESKTOP */
@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1366px){
    
}

@media screen and (max-width: 1280px){
    .container,
    .copyright{
        width: 90%;
    }
    .banner .banner-text{
        width: 100%;
        padding: 0 5%;
    }
    .input-pesq{
        width: 300px;
    }
    .drop-menu{
        width: 100%;
        left: 0;
    }

    .footer-banner{
      height: 30vw;
    }
}

@media screen and (max-width: 1270px){
    /* MENU MOBILE */
    .mobile-menu{
        display: flex;
    }
    .open-mobile i{
        color: var(--text-color);
        font-size: 25px;
    }
    .close-mobile{
        display: flex;
        position: absolute;
        right: 40px;
        top: 50px;
    }
    .close-mobile i{
        color: var(--text-color);
        font-size: 25px;
    }
    .header-menu{
        display: none;
        font-size: 25px;
    }
    .header-mobile{
        display: flex;
        flex-direction: column;
        padding: 50px;
        position: fixed;
        width: 500px;
        height: 100%;
        overflow: auto;
        background-color: var(--bg);
        top: 0;
        right: -500px;
        z-index: 50;
        transition: right 0.5s;
        margin-top: 0;
        gap: 20px;
    }
    .header-mobile.opened {
        right: 0;
        display: flex;
    }
    .header-mobile .header-logo{
        height: fit-content;
        margin-bottom: 50px;
    }
    .header-mobile .header-link,
    .header-mobile .menu-link{
        font-size: 20px;
        color: var(--text-color4)!important;
        border-bottom: 1px solid var(--text-color4);
        padding: 0 0 20px 0px;
    }
    .header-mobile .menu-dropdown1{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .menu .menu-dropdown{
        width: 150px;
    }
    .drop-menu{
        width: 100vw;
    }

}

/* MOBILE */
@media screen and (max-width: 1100px){
    .main-footer .container{
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    .footer-acess{
        width: 80%;
    }
    .footer-column{
        width: 30%;
    }
}

@media screen and (max-width: 1000px){
    .menu{
      	display: none;
    }
    .input-pesq {
      	width: 44%;
    }
    .header-mobile .menu-dropdown1{
    	display: flex;
    	border-bottom: 1px solid var(--text-color4);
    	padding: 0 0 10px 0;
    }
    .header-mobile .menu-dropdown1 .menu-link{
    	border: unset;
    	padding: 0 0 10px 0px;
    }
    .header-mobile .menu-dropdown1:hover ul{
    	display: flex;
    	flex-direction: column;
    	gap: 10px;
    }


    .footer-banner{
      height: 450px;
    }
    .footer-text{
      padding: 20px;
      align-items: center;
      text-align: center;
    }
    .footer-text h2,
    .footer-text p{
      width: 100%;
    }
    .footer-acess{
      width: 95%;
      flex-wrap: wrap;
    }
    .footer-column{
      width: 140px;
    }
    .banner-absolute img{
      object-fit: cover;
      height: 450px;
    }
}

@media screen and (max-width: 600px){
    .header{
      height: 150px;
    }
    .header-container{
      flex-wrap: wrap;
      gap: 20px;
    }
    .open-mobile i{
      font-size: 35px;
    }
    .header-mobile{
      width: 100%;
      right: -100%;
    }
    .input-pesq{
      width: 100%;
      order: 2;
    }
    .menu-paginas{
      display: none;
    }

}

@media screen and (max-width: 400px){

}

@media screen and (max-width: 375px){

}
