.leiaBtn{
    text-decoration: underline;
    font-size: 16px;
    transition: ease .3s;
}
.leiaBtn:hover{
    color: var(--roxo);
    transition: ease .3s;
}

.banner{
    width: 100%;
    position: relative;
    margin-top: 90px;
}
.banner picture{
    display: flex;
    width: 100%;
}
.banner picture img{
    width: 100%;
}

.banner .absolute-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.banner .absolute-container .container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.banner .absolute-container .container h1{
    font-size: 42px;
    inline-size: 600px;
}
.banner .absolute-container .container h1,
.banner .absolute-container .container span{
    color: var(--roxo);
    font-weight: 500;
}
.banner .absolute-container .container span{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}	


/* CATEGORIAS DO BLOG */
.categorias{
    width: 100%;
}
.categorias .blog-categoria{
    width: 100%;
    padding: 100px 0;
}
.categorias .blog-categoria .container{
    gap: 50px;
}
.categorias .blog-categoria .pesquisar{
    width: 500px;
    height: 60px;
    margin-left: auto;
    align-items: center;
    position: relative;
    border: 1px solid whitesmoke;
}
.categorias .blog-categoria .pesquisar input{
    width: 500px;
    height: 100%;
    padding: 0 55px 0 20px;
    color: var(--cinza);
}
.categorias .blog-categoria .pesquisar input::placeholder{
    color: var(--cinza);
}
.categorias .blog-categoria .pesquisar button{
    position: absolute;
    background: var(--laranja);
    width: 45px;
    height: 45px;
    border-radius: 10px;
    right: 10px;
    color: #fff;
}

.categorias .blog-categoria .categoria-box{
    width: 100%;
    justify-content: space-evenly;
    gap: 49px;
}
.categorias .blog-categoria .categoria-box .box{
    width: 384px;
}
.categorias .blog-categoria .box .box-img{
    width: 100%;
}
.categorias .blog-categoria .box .box-img img{
    width: 100%;
    border-radius: 10px;
}
.categorias .blog-categoria .box .box-text{
    width: 100%;
    padding: 30px 20px;
    background-color: #fff;
    gap: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.categorias .blog-categoria .box .box-text .topo{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.categorias .blog-categoria .box .box-text .topo .categoria{
    gap: 10px;
}
.categorias .blog-categoria .box .box-text .topo .categoria span{
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: #FFEFEC;
    border-radius: 50px;
}
.categorias .blog-categoria .box .box-text .topo .data p{
    font-size: 14px;
    margin-left: 10px;
}
.categorias .blog-categoria .box .box-text .text{
    gap: 20px;
}
.categorias .blog-categoria .box .box-text .text h5{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
}


/* MEDIA DESKTOP */
@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1366px){

}

@media screen and (max-width: 1280px){

}

@media screen and (max-width: 1100px){
    .banner picture img{
        height: 400px;
        object-fit: cover;
    }
}

/* MOBILE */
@media screen and (max-width: 1000px){
    
}

@media screen and (max-width: 800px){
    
}

@media screen and (max-width: 600px){
    
}

@media screen and (max-width: 400px){

}

@media screen and (max-width: 375px){

}