/* menu-recursos home */
.menu-recursos {
    width: 100%;
    height: 60px;
    background-color: var(--default-color);
    align-items: center;
    display: flex;
}

.menu-recursos nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 100%;
}

.menu-recursos-item {
    position: relative;
    z-index: 10;
    height: 10%;
    align-items: center;
    display: flex;
}

.menu-recursos-item a {
    color: #fff;
    text-decoration: none;
}

/* responsivo menu-recursos home */
@media (max-width: 828px) {
    .menu-recursos {
        flex-direction: column; /* Coluna para centralizar conteúdo */
    }
}

/* Nossos pagamentos */
.pagamentos {
    width: 100%;
    padding: 200px;
    display: flex;
    background-color: var(--bg);
}

.pagamentos-titulo {
    width: 100%;
    display: flex;
    align-items: center;
}

.pagamentos-titulo h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--text-color4);
}

.pagamentos-titulo i {
    font-size: 1em;
    color: white;
    background-color: var(--default-color);
    padding: 8px;
    border-radius: 15px;
    margin-right: 15px;
}

.box-pagamentos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-between;
    gap: 30px;
}

.itens-pagamentos {
    width: 30%;
    /* border: 2px solid var(--default-color); */
    border-radius: 30px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.box1-pagamentos {
    border: 3px solid #04593a;
}

.box2-pagamentos {
    border: 3px solid #04593a;
}

.box3-pagamentos {
    border: 3px solid #04593a;
}

.itens-pagamentos img {
    width: 40%;
    margin: auto;
    padding-bottom: 15px;
}

.itens-pagamentos h2 {
    color: var(--default-color);
    font-weight: 600;
    font-size: 30px;
}

.itens-pagamentos p {
    color: var(--text-color5);
    font-size: 16px;
    padding: 0 10px;
    justify-content: center;
}

/* Benefícios */

.beneficios {
    width: 100%;
    padding: 200px;
    display: flex;
    background-color: white;
}

.beneficios-titulo {
    width: 100%;
    display: flex;
    align-items: center;
}

.beneficios-titulo h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--text-color4);
}

.beneficios-titulo i {
    font-size: 1em;
    color: white;
    background-color: var(--greenColor);
    padding: 8px;
    border-radius: 15px;
    margin-right: 15px;
}

.box-beneficios {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-between;
    gap: 30px;
}

.itens-beneficios {
    width: 30%;
    /* border: 2px solid var(--default-color); */
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.itens-beneficios img {
    border-radius: 30px;
}

/* .box1 {
    border: 3px solid black;
}

.box2 {
    border: 3px solid black;
}

.box3 {
    border: 3px solid black;
} */

.itens-beneficios img {
    width: 40%;
    margin: auto;
    padding-bottom: 15px;
}

.itens-beneficios h2 {
    color: var(--greenColor);
    font-weight: 600;
    font-size: 30px;
}

.itens-beneficios p {
    color: var(--text-color5);
    font-size: 16px;
    padding: 0 10px;
    justify-content: center;
    /* text-align: left; */
}

.beneficios span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: "inter";
    padding-top: 15px;
    color: var(--text-color4);
}

.beneficios span i {
    margin-right: 10px;
}

/* plano eletrônico */

.plano-container {
    width: 100%;
    background-color: var(--bg);
}

.plano .plano-container .plano-conteudo {
    width: 100%;
    padding: 100px 0;
}

.plano .plano-container .plano-conteudo .container {
    justify-content: space-between;
    align-items: center;
}

.plano-text {
    display: flex;
    width: 500px;
    flex-direction: column;
    gap: 20px;
}

.span-titulo {
    color: #f2b705;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1pxd;
}

.plano-text h3 {
    font-size: 31px;
    font-weight: 500;
    color: var(--greenColor);
}

.plano-topicos h4 {
    color: var(--text-color4);
}

.plano-text p {
    line-height: 1.2;
    font-family: "Wix Madefor Text";
}

.plano-text i {
    color: #1cbe80;
}

.plano-text .plano-topicos {
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.topico1 {
    flex-direction: column;
    gap: 20px;
}

.topico2 {
    flex-direction: column;
    gap: 20px;
}

.plano-img {
    width: 530px;
}

.plano-img img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

/* Canais de denuncia */
.canais {
    width: 100%;
    position: relative;
    background-color: #fff;
}

.canais .titulo-canais {
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg);
    padding: 100px 0 0;
    gap: 20px;
}

.titulo-canais .span-titulo {
    color: #f2b705;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.titulo-canais h2 {
    color: var(--greenColor);
    font-size: 42px;
    font-weight: 600;
}

.canais-container {
    width: 100%;
}

.canais .canais-container .canais-conteudo {
    width: 100%;
    padding: 100px 0;
}

.canais .canais-container .canais-conteudo .container {
    justify-content: space-between;
    align-items: center;
}

.canais-text {
    display: flex;
    width: 700px;
    flex-direction: row;
    gap: 20px;
}

.container-canais {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.span-titulo {
    color: #f2b705;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1pxd;
}

.canais-text h3 {
    font-size: 31px;
    font-weight: 500;
    color: var(--greenColor);
}

.canais-text p {
    line-height: 1.2;
    font-family: "Wix Madefor Text";
}

.canais-text i {
    color: #1cbe80;
}

.canais-text .canais-topicos {
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
}

.topico1 {
    flex-direction: column;
    gap: 20px;
}

.topico2 {
    flex-direction: column;
    gap: 20px;
}

.canais-img {
    width: 530px;
}

.canais-img img {
    width: 80%;
    /* object-fit: cover; */
    border-radius: 15px;
}
/* Responsividade */
@media screen and (max-width: 768px) {
    .pagamentos,
    .beneficios,
    .plano-container,
    .canais {
        padding: 100px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pagamentos-titulo,
    .beneficios-titulo {
        justify-content: center;
    }

    .box-pagamentos,
    .box-beneficios,
    .plano .plano-container .plano-conteudo .container,
    .canais .canais-container .canais-conteudo .container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .itens-pagamentos,
    .itens-beneficios,
    .plano-text,
    .canais-text {
        width: 100%;
        max-width: 300px;
        padding: 15px;
        margin: 20px 0;
    }

    .plano-text,
    .canais-text {
        align-items: center;
        margin: -140px 0;
    }

    .plano-text .plano-topicos,
    .canais-text .canais-topicos {
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
    }

    .plano-img,
    .canais-img {
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 414px) {
    .pagamentos,
    .beneficios {
        padding: 50px 10px;
    }

    .itens-pagamentos img,
    .itens-beneficios img {
        width: 60%;
    }

    .plano-text h3,
    .canais-text h3 {
        font-size: 24px;
    }

    .plano-img img,
    .canais-img img {
        width: 100%;
        border-radius: 10px;
    }
}
@media screen and (max-width: 768px) {
    .ponto .ponto-container .ponto-conteudo {
        padding: 30px 10px;
    }

    .ponto .ponto-container .ponto-conteudo .container {
        flex-direction: colum;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .ponto-text {
        max-width: 80%;
        padding: 1px;
        margin-left: -120px;
    }
    .ponto .ponto-container .ponto-conteudo .ponto-img img {
        width: 60%;
        margin-left: -120px;
    }
}
