.menu-segurancas {
    width: 100%;
    height: 60px;
    background-color: var(--default-color);
    align-items: center;
    display: flex;
}

.menu-segurancas nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 100%;
}

.menu-segurancas-item {
    position: relative;
    z-index: 10;
    height: 10%;
    align-items: center;
    display: flex;
}

.menu-segurancas-item a {
    color: #fff;
    text-decoration: none;
}
/* Segurança Patrimonial */

.titulo-segurança-pat {
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 100px 0 0;
    gap: 20px;
}

.titulo-segurança-pat .span-titulo {
    color: #F2B705;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.titulo-segurança-pat h2 {
    color: var(--greenColor);
    font-size: 42px;
    font-weight: 600;
}

.seg-pat{
    width: 100%;
    padding: 100px;
}
.seg-pat .container{
    gap: 50px;
    justify-content: space-between;
}
.seg-pat .texto1{
    width: 40%;
    gap: 25px;
}
.seg-pat .texto1 img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.texto1 h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--greenColor);
}

.span-titulo-seg-pat {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: var(--yellowColor);
}

.seg-pat .texto2{
    width: 50%;
    gap: 50px;
}

.texto2 h3 {
    font-size: 32px;
    font-weight: 600;
    color: var(--greenColor);
}
.seg-pat .texto2 .titulo{
    width: 100%;
    gap: 20px;
}
.seg-pat .texto2 .titulo span{
    width: 36px;
    height: 3px;
    background-color: var(--cor-3);
}
.seg-pat .texto2 .topicos{
    width: 100%;
}

.seg-pat .texto2 .topicos .box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10%;
    border-top: 1px solid #c7c7c782;
    padding: 50px 0;
}
.seg-pat .texto2 .topicos .box:nth-child(1){
    border-top: none;
}
.seg-pat .texto2 .topicos .box .box-icon{
    width: 52px;
}
.seg-pat .texto2 .topicos .box .box-icon img{
    width: fit-content;
    height: fit-content;
}
.seg-pat .texto2 .topicos .box .box-texto{
    padding-right: 10%;
    gap: 10px;
}



/* Header Segurança do trabalho */
.processos {
    width: 100%;
    position: relative;
    background-color: var(--bg);
}

.processos .titulo-processos {
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg);
    padding: 100px 0 0;
    gap: 20px;
}

.titulo-processos .span-titulo {
    color: #F2B705;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.titulo-processos h2 {
    color: var(--greenColor);
    font-size: 42px;
    font-weight: 600;
}




/* Epis */
.epis-container {
    width: 100%;
}

.epis .epis-container .epis-conteudo {
    width: 100%;
    padding: 100px 0;
}

.epis .epis-container .epis-conteudo .container {
    justify-content: space-between;
    align-items: center;
}

.epis-text {
    display: flex;
    width: 500px;
    flex-direction: column;
    gap: 20px;
}

.span-titulo {
    color: #f2b705;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1pxd;
}

.epis-text h3 {
    font-size: 31px;
    font-weight: 500;
    color: var(--greenColor);
}
.epis-topicos h2 {
    color: var(--text-color4);
    font-size: 18px;
    font-weight: 500;
}

.epis-text p {
    line-height: 1.2;
    font-family: "Wix Madefor Text";
}

.epis-text i {
    color: #1cbe80;
}

.epis-text .epis-topicos {
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    gap: 25px;
}

.topico1 {
    flex-direction: column;
    gap: 20px;
}

.topico2 {
    flex-direction: column;
    gap: 20px;
}

.epis-img {
    width: 530px;
}

.epis-img img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}



/* sesmt */
.sesmt {
    background-color: var(--bg1);
    padding: 100px 0;
}
.sesmt .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sesmt-img {
    width: 487px;
}
.sesmt-img img {
    width: 100%;
    border-radius: 10px;
}
.sesmt-text {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
}
.sesmt-text h2 {
    color: var(--text-color4);
    font-weight: 600;
    font-size: 2em;
}
.sesmt-text p {
    color: var(--text-color4);
}
.sesmt-text a i,
.sesmt-text button i {
    margin-left: 10px;
    font-size: 1.1em;
}
.sesmt-text .curriculoBtn {
    width: 220px;
    height: 64px;
    color: #fff;
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: ease 0.3s;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.sesmt-text .curriculoBtn:hover {
    background-color: var(--hover-red);
    border: 1px solid var(--hover-red);
    transition: ease 0.3s;
}
.sesmt-text .vagasBtn {
    font-size: 19px;
    color: var(--text-color);
    font-weight: 600;
    height: 64px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: ease 0.3s;
}
.sesmt-text .vagasBtn:hover {
    color: var(--hover-red);
    transition: ease 0.3s;
}
@media screen and (max-width: 768px) {
    .titulo-segurança-pat {
        padding: 50px 0;
    }

    .titulo-segurança-pat h2 {
        font-size: 32px;
    }

    .seg-pat .container {
        flex-direction: column;
        gap: 20px;
    }

    .seg-pat .texto1 {
        width: 100%;
    }

    .seg-pat .texto2 {
        width: 100%;
    }

    .seg-pat .texto2 .topicos .box {
        padding: 20px 0;
    }
}

@media screen and (max-width: 414px) {
    .titulo-segurança-pat {
        padding: 20px 0;
    }

    .titulo-segurança-pat h2 {
        font-size: 28px;
    }

    .seg-pat {
        padding: 50px;
    }

    .seg-pat .texto1 {
        gap: 15px;
    }

    .seg-pat .texto2 {
        gap: 20px;
    }

    .seg-pat .texto2 .topicos .box {
        padding: 10px 0;
    }

    .processos .titulo-processos {
        padding: 50px 0;
    }

    .processos .titulo-processos h2 {
        font-size: 32px;
    }
}
@media screen and (max-width: 768px) {
    .titulo-segurança-pat {
        padding: 50px 0;
        
    }

    .titulo-segurança-pat h2 {
        font-size: 32px;
        
    }

    .seg-pat .container {
        flex-direction: column;
        gap: 20px;
        
        
    }

   @media screen and (max-width: 768px) {
    .seg-pat .container {
        display: flexx;
        gap: 20px;
        padding: 0 12%;
        margin-left: -1%;
        
    }

    .seg-pat .texto1 {
        width: 200%;
        padding: 1%;
        margin-left: -150%;
    }

    .seg-pat .texto2 {
        width:  250%;
        padding: 0 5%;
        margin-left: -1%;
    }

    .seg-pat .texto2 .topicos .box {
        padding: 10px 0;
        margin-left: -60%;
    }
}

@media screen and (max-width: 414px) {
    .seg-pat .container {
        padding: 0 5%;
    }

    .seg-pat .texto1 {
        padding: 0 2%;
    }

    .seg-pat .texto2 {
        padding: 0 2%;
    }

    .seg-pat .texto2 .topicos .box {
        padding: 5px 0;
    }
}

}

@media screen and (max-width: 414px) {
    .titulo-segurança-pat {
        padding: 20px 0;
    }

    .titulo-segurança-pat h2 {
        font-size: 28px;
    }

    .seg-pat {
        padding: 50px;
    }

    .seg-pat .texto1 {
        gap: 15px;
    }

    .seg-pat .texto2 {
        gap: 20px;
    }

    .seg-pat .texto2 .topicos .box {
        padding: 10px 0;
        
    }

    .processos .titulo-processos {
        padding: 50px 0;
        
    }

    .processos .titulo-processos h2 {
        font-size: 32px;
        
    }
}
@media only screen and (max-width: 828px) {
    .menu-segurancas {
        height: 50px; /* Reduz a altura do menu em telas menores */
    }

    .menu-segurancas nav {
        width: 100%; /* Aumenta a largura do nav para usar mais espaço disponível */
        justify-content: space-between; /* Aumenta o espaço entre os itens */
    }

    .menu-segurancas-item {
        margin: 0 10px; /* Adiciona margem entre os itens */
        height: 8%; /* Reduz a altura dos itens */
        padding: 5px 0; /* Ajusta o padding para reduzir a altura dos itens */
    }

}@media only screen and (max-width: 828px) {
    .menu-segurancas {
        height: 50px; /* Reduz a altura do menu em telas menores */
    }

    .menu-segurancas nav {
        width: 100%; /* Aumenta a largura do nav para usar mais espaÃ§o disponÃ­vel */
        justify-content: space-between; /* Aumenta o espaÃ§o entre os itens */
    }

    .menu-segurancas-item {
        margin: 0 10px; /* Adiciona margem entre os itens */
        height: 8%; /* Reduz a altura dos itens */
        padding: 5px 0; /* Ajusta o padding para reduzir a altura dos itens */
    }
    .epis-text .epis-topicos {
    flex-direction: row;
    justify-content: space-between;
    margin: 33px;
    gap: 25px;
    }
    
    .topico1 {
        flex-direction: column;
        gap: 20px;
    }
    
    .topico2 {
        flex-direction: column;
        gap: 20px;
    }
    
    .epis-img {
        width: 400px;
        margin-right: 91px;
        
    }
    
    .epis-img img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
}
@media only screen and (max-width: 768px) {
    .d-flex {
        flex-direction: column; /* Altera a direção para coluna em telas menores */
        align-items: center; /* Centraliza verticalmente os itens na coluna */
    }

    .d-flex-item {
        width: 100%; /* Define a largura completa na coluna */
        margin: 10px 0; /* Ajusta o espaçamento entre os itens */
    }
}