.banner{
	width: 100%;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
}	
.banner img{
	width: 100%;
}
.conteudo{
	background-color: var(--bg);
	padding: 50px 0 100px;
}	
.conteudo .data{
	width: 100%;
	margin-bottom: 20px;
}
.conteudo .data span{
	font-weight: 500;
}


.noticias{
    width: 100%;
    background-color: var(--bg1);
    padding: 100px 0;
    position: relative;
    z-index: 11;
}
.noticias-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.noticias-titulo h2{
    color: var(--text-color4);
    display: flex;
    align-items: center;
}
.noticias-titulo h2 img{
    margin-right: 30px;
} 
.noticias-titulo span{
    max-width: 40%;
    color: var(--text-color5);
    font-weight: 500;
    font-size: 18px;
}
.noticias-content{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    justify-content: space-between;
    gap: 30px;
}
.noticia-box{
    width: 348px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    transition: ease .3s;
    scale: 1;
}
.noticia-box:hover{
    transition: ease .3s;
    scale: 1.1;
}
.noticia-box a img{
    width: 100%;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.noticia-text{
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.noticia-text h6{
    font-size: 14px;
    color: var(--text-color);
    font-weight: 600;
}
.noticia-text div{
    position: relative;
    width: 100%;
}
.noticia-text div a{
    color: var(--text-color4);
    font-weight: 600;
    font-family: var(--ff-primary);
    font-size: 20px;
    width: 90%;
    display: flex;
}
.noticia-text div img{
    width: fit-content;
    position: absolute;
    top: -5px;
    right: 0;
    display: flex;
}
.noticia-text p{
    color: #646981;
    font-family: var(--ff-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}

/* MEDIA DESKTOP */
@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1366px){

}

@media screen and (max-width: 1280px){

}

@media screen and (max-width: 1100px){

}

/* MOBILE */
@media screen and (max-width: 1000px){
    
}

@media screen and (max-width: 800px){
    
}

@media screen and (max-width: 600px){
    
}

@media screen and (max-width: 400px){

}

@media screen and (max-width: 375px){

}