.banner{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.arrow i{
    color: #fff;
    font-size: 35px;
}
.prev-bn{
    position: absolute;
    left: 2%;
    z-index: 10;
    cursor: pointer;
}
.next-bn{
    position: absolute;
    right: 2%;
    z-index: 10;
    cursor: pointer;
}

.banner-slider{
    width: 100%;
}
.banner-slider .banner-slide{
    width: 100%;
    position: relative;
}
.banner-slider .banner-slide picture{
    width: 100%;
}
.banner-slider .banner-slide picture img{
    width: 100%;
}
.banner-slider .banner-slide .absolute-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.banner-slider .banner-slide .absolute-container .container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.banner-slider .banner-slide .absolute-container .container .texto{
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.banner-slider .banner-slide .absolute-container .container .texto h2{
    font-size: 3vw;
    color: #fff;
}
.banner-slider .banner-slide .absolute-container .container .texto p{
    font-size: 20px;
}
.banner-slider .banner-slide .absolute-container .container .texto div{
    width: 90%;
    justify-content: space-between;
}
.banner-slider .banner-slide .absolute-container .container .texto div h3{
    color: #fff;
    font-size: 1.3vw;
}
.banner-slider .banner-slide .absolute-container .container .texto div span{
    color: var(--cor-3);
}
.banner-slider .banner-slide .absolute-container .container .texto a{
    padding: 20px 40px;
    background-color: var(--cor-3);
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    letter-spacing: 5px;
}

.banner-slider .banner-slide a{
    width: 18vw;
    height: 3.5vw;
    background-color: var(--cor-3);
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 0.9vw;
    letter-spacing: 0.2vw;
    position: absolute;
    z-index: 1;
    bottom: 25%;
    left: 5.5%;
}
.banner-slider .banner-slide a i{
    font-size: 0.9vw;
}


/* PRIMEIRO FORMULARIO */
.contato-1{
    width: 100%;
}
#contato.contato-1 .container{
    border-bottom: none;
}
.contato-1 .container{
    padding: 100px 7%;
    border-bottom: 1px solid var(--cor-5);
    gap: 50px;
    justify-content: space-between;
}
.contato-1 .container .barra{
    width: 100%;
    height: 4px;
    background-image: url('../imagens/home/linha.png');
    background-size: 98px 4px;
    background-repeat: no-repeat;
}
.contato-1 .container .texto{
    width: 42%;
    gap: 70px;
}
.contato-1 .container .texto .conteudo{
    width: 100%;
    gap: 30px;
    align-items: center;
    padding-left: 10px;
}
.contato-1 .container .texto .conteudo .bg{
    width: 20px;
}
.contato-1 .container .texto .conteudo .boxs-div{
    width: calc(100% - 50px);
    gap: 50px;
}
.contato-1 .container .texto .conteudo .boxs-div .div{
    border-bottom: 1px solid var(--cor-5);
}
.contato-1 .container .texto .conteudo .boxs-div .box{
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
}
.contato-1 .container .texto .conteudo .boxs-div .box .icon{
    width: 124px;
    height: 124px;
    background-color: var(--cor-2);
    border-radius: 5px;
    place-content: center;
}
.contato-1 .container .texto .conteudo .boxs-div .box .box-texto{
    width: calc(100% - 154px);
    gap: 10px;
}
.contato-1 .container .texto .conteudo .boxs-div .box .box-texto span{
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 5px;
}
.contato-1 .container .texto .conteudo .boxs-div .box .box-texto p{
    font-weight: 500;
}
.contato-1 .container form{
    width: 40%;
    height: fit-content;
    border: 1px solid var(--cor-5);
    border-radius: 5px;
    padding: 30px;
    gap: 20px;
}
.contato-1 .container form p{
    font-size: 18px;
}
.contato-1 .container form input{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid var(--cor-5);
    font-size: 18px;
    padding: 0 25px;
}
.contato-1 .container form input::placeholder{
    color: var(--primaria);
    font-size: 18px;
}
.contato-1 .container form button{
    width: 100%;
    padding: 20px;
    background-color: var(--cor-3);
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.contato-1 .container form span{
    width: 100%;
    display: flex;
    gap: 15px;
    font-size: 16px;
}

#contato.contato-1{
    background-image: url('../imagens/home/contato.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#contato.contato-1 .container form{
    background-color: #fff;
}


/* SERVIÇOS */
.servicos{
    width: 100%;
    padding: 100px 0 0;
    background-color: var(--bg1);
}
.servicos .container{
    gap: 50px;
}
.servicos .container .barra{
    width: 100%;
    margin: 0 7%;
    height: 4px;
    background-image: url('../imagens/home/linha.png');
    background-size: 98px 4px;
    background-repeat: no-repeat;
}
.servicos .container .titulo{
    width: 100%;
    padding: 0 7%;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.servicos .container .titulo .arrow.desktop{
    display: flex;
}
.servicos .container .arrow.mobile{
    display: none;
}
.servicos .container .arrow{
    gap: 15px;
}
.servicos .container .arrow span i{
    color: #fff;
    font-size: 20px;
    display: flex;
    place-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #01010138;
    border-radius: 2px;
    cursor: pointer;
    transition: ease .3s;
}
.servicos .container .arrow span i:hover{
    background-color: var(--cor-2);
    transition: ease .3s;
}
.servicos .container .servicos-slider{
    width: 100%;
}
.servicos .container .servicos-slider .box{
    width: 100%;
    position: relative;
    background-image: url('../imagens/home/img-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.servicos .container .servicos-slider .box img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    padding: 0.6%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.servicos .container .servicos-slider .box .texto{
    width: 50%;
    gap: 15px;
    padding: 1% 10% 1% 10%;
    align-self: center;
}
.servicos .container .servicos-slider .box .texto p{
    color: var(--cor-6);
}
.servicos .container .servicos-slider .box .texto a{
    display: flex;
    margin-top: 45px;
    color: #fff;
    border-bottom: 1px solid var(--cor-3);
    padding-bottom: 5px;
    width: fit-content;
    gap: 15px;
    font-size: 16px;
    letter-spacing: 5px;
}
.servicos .container .servicos-slider .box .texto a i{
    color: var(--cor-3);
}


/* DIFERENCIAIS */
.diferenciais{
    width: 100%;
    padding: 100px 0 100px;
    background-color: #fff;
}
.diferenciais .container{
    gap: 80px;
    padding: 0 7%;
}
.diferenciais .container .titulo{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.diferenciais .container .titulo .barra{
    width: 100%;
    height: 4px;
    background-image: url('../imagens/home/linha.png');
    background-size: 98px 4px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}
.diferenciais .container .titulo p{
    max-width: 600px;
    width: 100%;
    color: #818181;
}
.diferenciais .container .diferenciais-div{
    width: 100%;
    gap: 70px;
}
.diferenciais .container .diferenciais-div .diferenciais-nav{
    width: 100%;
}
.diferenciais .container .diferenciais-div .diferenciais-nav .slick-slide{
    min-height: 50px;
}
.diferenciais .container .diferenciais-div .diferenciais-nav .box{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #818181;
    border-bottom: 1px solid var(--cor-5);
    padding-bottom: 10px;
    transition: ease .3s;
}
.diferenciais .container .diferenciais-div .diferenciais-nav .box:hover,
.diferenciais .container .diferenciais-div .diferenciais-nav .slick-current .box{
    border-bottom: 1px solid var(--cor-2);
    font-weight: 600;
    color: var(--bg1);
    transition: ease .3s;
}
.diferenciais .container .diferenciais-div .diferenciais-for{
    width: 100%;
}
.diferenciais .container .diferenciais-div .diferenciais-for .box{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.diferenciais .container .diferenciais-div .diferenciais-for .box .texto{
    max-width: 450px;
    width: 100%;
    gap: 20px;
}
.diferenciais .container .diferenciais-div .diferenciais-for .box .texto p{
    color: #818181;
}
.diferenciais .container .diferenciais-div .diferenciais-for .box .texto a{
    display: flex;
    margin-top: 30px;
    width: fit-content;
    gap: 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
    transition: ease .3s;
}
.diferenciais .container .diferenciais-div .diferenciais-for .box .texto a:hover{
    color: var(--cor-2);
    transition: ease .3s;
}
.diferenciais .container .diferenciais-div .diferenciais-for .box .texto a i{
    color: var(--cor-2);
}
.diferenciais .container .diferenciais-div .diferenciais-for .box .img{
    width: 700px;
}
.diferenciais .container .diferenciais-div .diferenciais-for .box .img img{
    width: 100%;
    border-radius: 5px;
}


/* OBJETIVOS */
.objetivos{
    width: 100%;
    background-image: url('../imagens/home/bg1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 101%;
}
.objetivos .texto{
    width: 50%;
    padding: 100px 5% 100px 12.5%;
    gap: 30px;
}
.objetivos .texto .barra{
    width: 100%;
    height: 4px;
    background-image: url('../imagens/home/linha.png');
    background-size: 98px 4px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.objetivos .texto p{
    color: #E5E5E5;
    line-height: 1.5;
    border-bottom: 1px solid #ffffff59;
    padding-bottom: 30px;
}
.objetivos .texto .box-div{
    width: 100%;
    gap: 30px;
}
.objetivos .texto .box-div .box{
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}
.objetivos .texto .box-div .box .icon{
    width: 63px;
    height: 63px;
    background-color: var(--cor-2);
    border-radius: 5px;
    place-content: center;
}
.objetivos .texto .box-div .box .icon i{
    color: #fff;
}
.objetivos .texto .box-div .box .icon img{
    max-width: 50%;
    max-height: 50%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(14deg) brightness(104%) contrast(101%);
}
.objetivos .texto .box-div .box .b-texto{
    width: calc(100% - 90px);
    gap: 15px;
}
.objetivos .texto .box-div .box .b-texto p{
    color: #818181;
    font-size: 18px;
    padding-bottom: 0;
}
.objetivos .img{
    width: 50%;
}
.objetivos .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* EQUIPE */
.equipe{
    width: 100%;
    padding: 100px 0 100px;
}
.equipe .container{
    gap: 80px;
    padding: 0 7%;
}
.equipe .container .titulo{
    max-width: 637px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.equipe .container .titulo .barra{
    width: 100%;
    height: 4px;
    background-image: url('../imagens/home/linha.png');
    background-size: 98px 4px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}
.equipe .container .titulo p{
    line-height: 1.5;
}
.equipe .container .equipe-slider{
    width: 100%;
}
.equipe .container .equipe-slider .box{
    width: 95%;
    margin: 0 auto;
    position: relative;
}
.equipe .container .equipe-slider .box img{
    width: 100%;
}
.equipe .container .equipe-slider .box .texto{
    width: 100%;
    min-height: 150px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 20px 40px;
    background-color: #00000029;
    justify-content: center;
    gap: 15px;
}
.equipe .container .equipe-slider .box .texto .barra{
    width: 100%;
    height: 4px;
    background-image: url('../imagens/home/linha1.png');
    background-size: 40px 1px;
    background-repeat: no-repeat;
}
.equipe .container .equipe-slider .box .texto p{
    font-size: 16px;
    font-weight: 500;
    color: #ffffffd1;
}
.equipe .container .arrow{
    display: flex;
    gap: 15px;
    margin: auto;
}
.equipe .container .arrow span i{
    color: #fff;
    font-size: 20px;
    display: flex;
    place-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #01010138;
    border-radius: 2px;
    cursor: pointer;
    transition: ease .3s;
}
.equipe .container .arrow span i:hover{
    background-color: var(--cor-2);
    transition: ease .3s;
}

	
/* DEPOIMENTOS */
.depoimentos{
    width: 100%;
    padding: 100px 0;
    gap: 50px;
    background-color: #006641;
}
.depoimentos .titulo{
    max-width: 600px;
    margin: auto;
    width: 100%;
    gap: 40px;
    align-items: center;
}
.depoimentos .titulo .barra {
    width: 100%;
    height: 4px;
    background-image: url(../imagens/home/linha.png);
    background-size: 98px 4px;
    background-repeat: no-repeat;
    background-position: center;
}
.depoimentos .titulo .arrow.desktop{
    display: flex;
}
.depoimentos .arrow.mobile{
    display: none;
}
.depoimentos .arrow{
    gap: 15px;
}
.depoimentos .arrow span i{
    color: #fff;
    font-size: 20px;
    display: flex;
    place-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #01010138;
    border-radius: 2px;
    cursor: pointer;
    transition: ease .3s;
}
.depoimentos .arrow span i:hover{
    background-color: var(--cor-2);
    transition: ease .3s;
}
.depoimentos .depoimentos-slider{
    width: 100%;
}
.depoimentos .depoimentos-slider .slick-current .box{
    background-color: #fff;
    border-right: 5px;
    opacity: 1;
    gap: 50px;
}
.depoimentos .depoimentos-slider .slick-slide{
    min-height: 200px;
}
.depoimentos .depoimentos-slider .box{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    opacity: 0.5;
    padding: 40px;
    border: 1px solid var(--cor-5);
    border-radius: 5px;
    background-color: #fff;
}
.depoimentos .depoimentos-slider .box p{
    text-align: center;
    line-height: 1.5;
    height: 150px;
    overflow: auto;
}
.depoimentos .depoimentos-slider .box .infos{
    margin: 0 auto;
    gap: 50px;
    align-items: center;
}
.depoimentos .depoimentos-slider .box .infos .user{
    gap: 20px;
    align-items: center;
}
.depoimentos .depoimentos-slider .box .infos .user .img{
    width: 50px;
    height: 50px;
}
.depoimentos .depoimentos-slider .box .infos .user .img img{
    width: 100%;
    border-radius: 5px;
}
.depoimentos .depoimentos-slider .box .infos .user .texto{
    gap: 5px;
}
.depoimentos .depoimentos-slider .box .infos .user .texto span{
    font-size: 16px;
}
.depoimentos .depoimentos-slider .box .infos .barra{
    width: 1px;
    height: 38px;
    background-image: url(../imagens/home/barra1.png);
    background-size: 1px 38px;
    background-repeat: no-repeat;
    background-position: center;
}
.depoimentos .depoimentos-slider .box .infos .veiculo{
    gap: 5px;
}
.depoimentos .depoimentos-slider .box .infos .veiculo span{
    font-size: 16px;
}


/* NUMEROS */
.numeros{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--cor-5);
}
.numeros .texto{
    width: 50%;
    padding: 100px 5% 100px 12.5%;
    gap: 30px;
    align-self: center;
}
.numeros .texto .barra{
    width: 100%;
    height: 4px;
    background-image: url('../imagens/home/linha.png');
    background-size: 98px 4px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.numeros .texto p{
    color: #E5E5E5;
    line-height: 1.5;
    border-bottom: 1px solid #ffffff59;
    padding-bottom: 30px;
}
.numeros .texto .box-div{
    width: 100%;
    gap: 30px;
    margin-top: 40px;
}
.numeros .texto .box-div .box{
    width: calc(100% - 60px);
    gap: 15px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}
.numeros .texto .box-div .box h3,
.numeros .texto .box-div .box h3 .count{
    font-size: 48px;
    font-weight: 400;
    color: var(--primaria);
}
.numeros .texto .box-div .box h3 span{
    color: var(--cor-2);
    font-size: 48px;
    font-weight: 400;
}
.numeros .texto .box-div .box p{
    width: 100%;
    color: #818181;
    border-top: 1px solid var(--cor-5);
}
.numeros .img{
    width: 50%;
}
.numeros .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* MEDIA DESKTOP */
@media screen and (max-width: 1550px){
    .diferenciais .container .diferenciais-div .diferenciais-for .box .img{
        width: calc(100% - 500px);
    }
}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1366px){

}

@media screen and (max-width: 1280px){
    .diferenciais .container .diferenciais-div .diferenciais-for .box .img img{
        height: 300px;
        object-fit: cover;
    }

    .contato-1 .container{
        padding: 100px 0;
    }
    .contato-1 .container .texto{
        width: 53%;
    }
    .diferenciais .container{
        padding: 0;
    }
    .objetivos .texto{
        padding: 100px 5% 100px 5%;
    }
    .equipe .container{
        padding: 0;
    }
    .numeros .texto{
        padding: 100px 5% 100px 5%;
    }
}

@media screen and (max-width: 1100px){

}

/* MOBILE */
@media screen and (max-width: 1000px){
    .contato-1 .container .texto,
    .contato-1 .container form{
        width: 100%;
    }
    .contato-1 .container .texto .conteudo .boxs-div .box .icon{
        width: 90px;
        height: 90px;
    }

    .servicos .container .servicos-slider .box{
        background-image: unset;
        background-color: var(--cor-2);
        border-radius: 20px;

    }
    .servicos .container .servicos-slider .box .texto{
        width: 100%;
        padding: 50px 30px;
    }
    .servicos .container .servicos-slider .box img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0;
    }

    .diferenciais .container .diferenciais-div .diferenciais-for .box{
        gap: 30px;
    }
    .diferenciais .container .diferenciais-div .diferenciais-for .box .texto{
        width: 100%;
        max-width: 100%;
    }
    .diferenciais .container .diferenciais-div .diferenciais-for .box .img{
        width: 100%;
    }
    .diferenciais .container .diferenciais-div .diferenciais-for .box .img img{
        height: 500px;
    }

    .objetivos .texto{
        width: 100%;
    }
    .objetivos .img{
        width: 100%;
    }
    .objetivos .img img{
        height: 500px;
    }

    .numeros .texto{
        width: 100%;
    }
    .numeros .img{
        width: 100%;
    }
    .numeros .img img{
        height: 500px;
    }
}

@media screen and (max-width: 800px){
    
}

@media screen and (max-width: 600px){
    .banner-slider .banner-slide .absolute-container .container .texto{
        width: 100%;
        gap: 15px;
    }
    .banner-slider .banner-slide .absolute-container .container .texto h2{
        font-size: 32px;
    }
    .banner-slider .banner-slide .absolute-container .container .texto p {
        font-size: 22px;
    }
    .banner-slider .banner-slide .absolute-container .container .texto div{
        flex-direction: column;
        gap: 10px;
    }
    .banner-slider .banner-slide .absolute-container .container .texto div h3{
        font-size: 20px;
    }
    .banner-slider .banner-slide .absolute-container .container .texto div span{
        display: none;
    }

    .contato-1 .container .texto .conteudo .bg{
        display: none;
    }
    .contato-1 .container .texto .conteudo .boxs-div{
        width: 100%;
    }
    .contato-1 .container .texto .conteudo .boxs-div .box{
        flex-direction: column;
        align-items: start;
    }
    .contato-1 .container .texto .conteudo .boxs-div .box .box-texto{
        width: 100%;
    }

    .servicos{
        padding: 100px 0 50px;
    }
    .servicos .container{
        justify-content: center;
    }
    .servicos .container .barra{
        background-position: center;
    }
    .servicos .container .titulo{
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .objetivos .texto .box-div .box{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .objetivos .texto .box-div .box .b-texto{
        width: 100%;
    }

    .depoimentos{
        align-items: center;
    }
    .depoimentos .titulo{
        padding: 0 5%;
        text-align: center;
    }
    .depoimentos .depoimentos-slider .slick-current .box{
        padding: 15px;
    }

    .numeros .texto .box-div .box{
        width: 100%;
    }

    .arrow.desktop{
        display: none!important;
    }
    .arrow.mobile{
        display: flex!important;
    }
}

@media screen and (max-width: 400px){

}

@media screen and (max-width: 375px){

}